pkgbase = websocketpp
	pkgdesc = C++/Boost Asio based websocket client/server library
	pkgver = 0.3.0
	pkgrel = 2
	url = http://www.zaphoyd.com/websocketpp/
	arch = any
	license = BSD
	makedepends = cmake
	source = https://github.com/zaphoyd/websocketpp/archive/0.3.0.tar.gz
	sha256sums = c1fcf60492bd11ae1cac43b6060424173abdf55011be1987fc922aed0254fdd1

pkgname = websocketpp

